@page
@{
    ViewData["Title"] = "2019 STEM Camp";
}

<section class="best-room">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                @ViewData["Title"]
            </h2>
        </div>
        <p class="lead">
            Announcing our 2019 STEM Camp hosted by <a href="https://www.linkedin.com/in/jennifer-stimpson-0668986/" target="_blank">Jennifer Stimpson</a> of <a href="http://jstempscience.com/" target="_blank">jSTEMp Science</a>! 
        </p>
        <img class="img-responsive" src="~/img/jstemp.jpg" />
        <p>
            To learn more about Jennifer and jSTEMp Science, please check out this interview featuring her <a href="http://voyagedallas.com/interview/meet-jennifer-stimpson-jstemp-science-oak-cliff/" target="_blank">voyagedallas.com/interview/meet-jennifer-stimpson-jstemp-science-oak-cliff/</a>
        </p>
        <p>
            More details about this camp will come soon. While you are waiting, you can <a href="http://eepurl.com/dBrIBT" target="_blank">sign up for our newsletter</a>.
        </p>
    </div>
</section>