@page
@{
    ViewData["Title"] = "Thank You";
}

<section class="best-room">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                @ViewData["Title"]
            </h2>
<p class="lead">
    Thank you for submitting a scholarship application. The next step of the scholarship application is to provide three references and complete the essay prompts. We will reach out to you via e-mail shortly with additional information about the mentioned next steps.
</p>           
        </div>
    </div>
</section>