@page
@{
    ViewData["Title"] = "Summer Breeze on Main Street";
}
<main class="container pt-2">
    <article class="row">
        <aside class="col-md-8 col-lg-6">
            <img src="~/img/flyer-left.png" class="img-fluid" />
        </aside>
        <aside class="col-md-4 col-lg-6">
            <tito-widget class="invisible" event="423fund/summer-breeze-2018">Make a donation today!</tito-widget>
            <img src="~/img/flyer-middle.png" class="img-fluid" />
        </aside>
    </article>
    <div class="py-3 px-3">
        <h3>F.A.Q.</h3>
        <p>
            <strong>
                What is the attire?
            </strong>
        </p>
        <p>
            Summer Cocktail/Garden Party Attire is requested.  Just think "festive, summer and breezy!". Leave the serious jacket and tie at home.
        </p>
        <p>
            <strong>
                What are my parking options at the event?
            </strong>
        </p>
        <p>
            Main Street Station offers well-lit parking facilities with pay-ticket machines directly across from and to the east of the station.
        </p>
        <p>
            Parking rates for the Main Street Station are:
        </p>
        <ul>
            <li>
                1st hour free
            </li>
            <li>
                $1.00 per hour
            </li>
            <li>
                $5 hour maximum daily
            </li>
        </ul>
        <p>
            The parking machines accept cash and credit cards only.
        </p>
        <p>
            <strong>
                Can I buy tickets at the door?
            </strong>
        </p>
        <p>
            In order to provide the very best experience for all our guests, tickets will not be available for purchase at the door. We would love for everyone to join us in this amazing experience in person, but unfortunately space is limited. Therefore, when all of our tickets are sold, we will not be able to offer additional tickets for sale. Please be sure to purchase your tickets as soon as possible.
        </p>
    </div>
</main>
@section styles {
    <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1' />
}
@section scripts {
    <script src='https://js.tito.io/v1' async></script>
}
