@page
@{
    ViewData["Title"] = "Partnerships & Featured Non-Profits";
}

<section class="best-room">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                @ViewData["Title"]
            </h2>
<div class="card-columns">
    <div class="card">
        <img class="card-img-top img-fluid" src="/img/kidsrunrva.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Kids Run RVA</h4>
            <p class="card-text">
                Playing comes natural to kids! The Sports Backers created Kids Run RVA to make running and active living just as fun and easy. Kids Run RVA promotes physical activity to youth across the Richmond region and encourages more kids to get moving more often. Between all of our programs and events, Kids Run RVA instills healthy habits that continue to flourish into adolescence and adulthood.            
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="http://www.sportsbackers.org/program/kids-run-rva/" target="_blank" class="card-link">http://www.sportsbackers.org/program/kids-run-rva/</a>
        </div>
    </div>
    <div class="card card-inverse card-primary p-3 text-center">
        <blockquote class="card-blockquote text-white">
            <p class="text-white">Looking to partner with our organization?</p>
            <footer>
                <small>
                    E-mail us today at: <a href="mailto:info@423fund.org" class="text-white">info@423fund.org</a>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="/img/higherachievement.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Higher Achievement</h4>
            <p class="card-text">
                Founded in 1975 in Washington DC as a grassroots effort to create learning opportunities for children in low-income neighborhoods, Higher Achievement was invited in 2009 by the Richmond Public School Superintendent and School Board to become part of the solution to improving local middle school outcomes by helping Richmond's motivated, yet at-risk, middle school students in great economic need and navigate them to a path of academic success.             
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="https://higherachievement.org/" target="_blank" class="card-link">https://higherachievement.org</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="/img/campusgo.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">CampusGo</h4>
            <p class="card-text">
                CampusGo offers students in the Metro Richmond area young people the opportunity to visit a broad range of college campuses.
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="http://campusgo.org" target="_blank" class="card-link">http://campusgo.org</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="/img/richmondcyclingcorps.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Richmond Cycling Corps</h4>
            <p class="card-text">
                Richmond Cycling Corps is an opportunity-rich outreach program which uses the sport of cycling as a lever for deep and impactful change. We empower youth in public housing to break free from the cycle of systemic poverty. For this momentous undertaking, we employ a hands-on system of case-management attached to a spectrum of mentors, resources, counseling, high standards, and tough love.
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="http://richmondcyclingcorps.org" target="_blank" class="card-link">http://richmondcyclingcorps.org</a>
        </div>
    </div>
</div>            
        </div>
    </div>
</section>