@page

<section class="bg-parallax bg-parallax-top parallax-window">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="img/logo.png" class="img-fluid" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="parallax-text">
                    <h2 class="parallax-text-white">
                        The 423 Fund
                    </h2>
                    <h2 class="parallax-text-gold">
                        Who we are
                    </h2>
                    <p>
                        The 423 fund is on a journey to make the metro Richmond communities a great place to be a youth by extending the reach of promising programs that target our youth and providing direct support to our youth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="best-room">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                A Local Non-Profit
            </h2>
            <p>
                We are a 501(c)(3) non-profit organization based in Chesterfield County, Virginia, organized exclusively for charitable and
                educational purposes. This includes support for and partnering with organizations, schools and communities in the
                Greater Richmond Region to address key issues associated with student achievement.
            </p>
            <hr />
            <h2 class="h2">
                Our Process
            </h2>
            <p>
                The 423 Fund works constantly to accomplish the following goals:
            </p>
            <ul>
                <li> Identify programs that are relevant to today’s youth and extend their reach through our support.</li>
                <li>Enhance our young students learning journey by ensuring they are on an even footing with their peers to achieve their full potential.</li>
            </ul>
            <p>
                To accomplish our stated goals, we have established the following actions that we take annually:
            </p>
            <ul>
                <li>Facilitate an annual conference to assess the state of today’s youth to determine the area(s) of greatest need.</li>
                <li>Identify potential programs, and the implementing organizations, that we can partner with to address our youth’s identified needs.</li>
                <li>Evaluate the need for mentoring within the targeted communities and tutoring in areas of deficiencies.</li>
                <li>Provide funding in areas of highest need, including material purchases, direct financial grants and other forms of funding.</li>
            </ul>
        </div>
    </div>
</section>
<section class="banner bg-parallax bg-parallax-bottom">
    <div class="overlay"></div>
    <div class="banner-parallax">
        <div class="container">
            <div class="text-center">
                <h2 class="banner-parallax-text">Donate Today</h2>
                <div class="banner-parallax-price">Your generosity is an investment in our efforts to ensure a promising future for the amazing youth of the Greater Richmond Area.</div>
                <a asp-page="/donate/index" class="btn btn-default">Give Today</a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">Our Services<span class="title-secondary">supporting the greater richmond area.</span></h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h3 class="service_title"><i class="fa fa-graduation-cap"></i> Scholarships</h3>
                <p>
                    Our long-running scholarship program ensures that students in need recieves the funding to pursue their education.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h3 class="service_title"><i class="fa fa-sticky-note"></i> Mentoring</h3>
                <p>
                    We have successfully ran mentoring programs throughout various public, private and charter schools in the region including schools in the <a href="http://mychesterfieldschools.com/" target="_blank">Chesterfield County Public Schools</a> system enriching the lives of local students.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h3 class="service_title"><i class="fa fa-usd"></i> Financing</h3>
                <p>
                    The fund is established to both support college students with direct scholarships and support other worthy non-profit organizations with financial assistance.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h3 class="service_title"><i class="fa fa-comments"></i> Expertise</h3>
                <p>
                    Need speakers or panelists for your next career day? Our board members are industry leaders ready to help and speak to your students.
                </p>
            </div>
        </div>
    </div>
</section>