@page
@{
    ViewData["Title"] = "Thank You";
}
<section class="best-room">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                @ViewData["Title"]
            </h2>
        </div>
        <div>
            <p class="lead">
                Thank you for your support of the 423 Fund. Your donation supports our annual scholarship program and allows us to offer youth programming at no charge to the children involved.
            </p>
        </div>
    </div>
</section>